
<h3 class="text-center"  style="display: block; margin-top: 20px; font-weight: bold;">PRODUCT DETAILS</h3>

 <div class="media" style="margin-top: 36px;">
    <img class="align-self-center mr-3" src={{productDetail.image}} alt="Generic placeholder image"  style="width: 100%;
    max-width: 200px;">
    <div class="media-body">
      <h5 class="mt-0" style="color: #dc3545; font-weight: 600;">{{productDetail.name}}</h5>
      <p>Price:{{productDetail.price}} $</p>
      <p class="mb-0" >{{productDetail.description}}</p>
    </div>
  </div>
